<div class="body">
  <div class="container">
    <h1 class="text-center">Mate</h1>
    <div class="header clearfix">
      <p><%= link_to "ログイン", user_session_path, class: "glyphicon glyphicon-log-in" %></p>
      <p><%= link_to "About", abouts_path, class: "glyphicon glyphicon-link" %></p>
    </div>
    <div class="heading text-center">
      <h2>新規会員登録</h2>
    </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <h2 class="text-center">
            <p><%= f.label :アカウント名 %><br /></p>
            <%= f.text_field :user_name, autofocus: true, autocomplete: "アカウント名" %>
          </h2>
        </div>

        <div class="field">
          <h2 class="text-center">
            <p><%= f.label :住所 %><br /></p>
            <%= f.text_field :address, autofocus: true, autocomplete: "住所" %>
          </h2>
        </div>


        <div class="field">
          <h2 class="text-center">
            <p><%= f.label :メールアドレス %><br /></p>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </h2>
        </div>

        <div class="field">
          <h2 class="text-center">
            <p><%= f.label :パスワード %>
              <span><% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br /></span></p>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </h2>
        </div>

        <div class="field">
          <h2 class="text-center">
            <p><%= f.label :パスワード確認 %><br /></p>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </h2>
        </div>

        <div class="actions">
          <h2 class="text-center">
            <%= f.submit "登録" , :style=>"padding: 25px 160px; font-size: 30px;" %>
          </h2>
        </div>
      <% end %>
    </div>
  </div>

<style>

  .header {
    border-bottom: 0.5px solid #EEEEEE;
  }

  .header p {
    display: inline-block;
    float: right;
    padding: 0 15px ;
  }

  .heading h2 {
    font-size: 50px;
    margin-bottom: 80px;
  }

  .field {
    margin-bottom: 50px;
  }

  .field p {
    padding-bottom: 10px;
  }


</style>
