<h1 class="text-center">Mate</h1>
<div class="text-center">
	<%= form_tag hashtag_search_posts_path, :method => 'get' do %>
  <%= text_field_tag :search ,params[:search]%>
  <%= submit_tag 'Search', :hashtag_name => nil %>
<% end %>
</div>
<div class="container">
	<div class="row">
		<div>
		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
		</div>

		<div>
			<%= link_to '投稿一覧', posts_path %>
		</div>

		<div>
			<%= link_to "新規投稿",new_post_path %>
		</div>

		<div>
			<%= link_to "マイページ", user_path(current_user.id) %>
		</div>
		<div>
			<%= link_to '会員登録情報編集', edit_profile_path(current_user.id) %>
		</div>
		<hr>

		<div>
				<div>
					<% @categories.each do |category| %>
						<%= link_to category_path(category.id) do %>
						<div>
							<p><%= category.category_name %></p>
							<%= image_tag category.category_image.to_s,size: '500x400' %>
						<% end %>
					<% end %>
				</div>
		</div>
	</div>
</div>


