<div class="container">
  <div class="row">
    <h1 class="text-center">Mate</h1>
    <div class="header clearfix">
      <p><%= link_to "戻る", tops_path ,:style=>" font-size: 20px;"%></p>
    </div>
    <% if @user_profile.errors.any? %>
      <div id="error_explanation"  class="alert alert-danger">
        <ul>
          <h2><%= @user_profile.errors.count %> 件のエラーがあります。</h2>
          <% @user_profile.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2 class="pro-user text-center">会員登録情報編集</h2>
    <%= form_for @user_profile, url: edit_profile_path do |f| %>
      <div class="profile text-center">
        
          <h3>アカウント名</h3>
          <p><%= f.text_field :user_name %></p>

          <h3>住所</h3>
          <p><%= f.text_field :address %></p>

          <h3>メールアドレス</h3>
          <p><%= f.text_field :email %></p>

        <h2>
          <%= f.submit "更新",:style=>"padding: 25px 160px; font-size: 30px;"%>
        </h2>
      </div>
    <% end %>
  </div>
</div>




<style>
  h2 {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Osaka';
  }

  .header {
    border-bottom: 0.5px solid #EEEEEE;
  }

  .header p {
    float: right;
    margin-right: 200px
  }


  .profile  h3 {
    font-size: 40px;
    padding-bottom: 5px;
  }

  .profile p {
    font-size: 35px;
    margin-bottom: 40px;
  }
</style>
