<div class="container">
  <div class="row">
    <h1 class="text-center">Mate</h1>
    <div class="header clearfix">
      <p><%= link_to "戻る", tops_path ,:style=>" font-size: 20px;"%></p>
    </div>
     <h2 class="text-center">マイページ編集</h2>
    <%= form_for (@user) do |f| %>
        <div class="profile">
          <div class="form-user">
            <div class="text-center">
              <%= attachment_image_tag @user, :profile_image, :fill, 350, 350, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg" %>
            </div>
            <div class="profile-box pull-right clearfix">
              <%= f.attachment_field :profile_image ,placeholder: "プロフィール画像", class: "user-edit-form"  %>
            </div>

              <div class="pro-box clearfix">
                <p>職業</p>
                <span><%= f.text_field :profession %></span>
              </div>

              <div class="pro-box">
                <p>年齢</p>
                <span><%= f.text_field :user_age %></span>
              </div>

            </div>
            <div class="category clearfix">
              <div class="field">
                <h2>カテゴリー選択</h2>
                  <%= collection_check_boxes(:user, :category_ids, Category.all, :id, :category_name) do |i| %>
                    <span><%= i.label { i.check_box + i.text } %></span>
                  <% end %>
              </div>
            </div>
        </div>

        <div class="pro-edit clearfix">
          <span>自己紹介文</span>
          <span><%= f.text_area :profile_comment %></span>
        </div>
        <h2 class="text-center">
          <%= f.submit "保存" ,:style=>"padding: 25px 160px; font-size: 30px;"%>
        </h2>
    <% end %>
  </div>
</div>


<style>
  .header {
    border-bottom: 0.5px solid #EEEEEE;
  }

  .header p {
    float: right;
    margin-right: 200px
  }

  .pro-edit {
    padding: 25px 0 ;
  }

  .pro-edit span {
    font-size: 50px;
    float:left;
    margin-left: 150px;
    margin-top: 60px;
  }

  .pro-edit span {
    float:left;
  }

  .pro-box p {
    font-size: 50px;
    margin-left: 250px;
    display: inline-block;
  }

  .pro-box span {
    padding-left: 200px;
    font-size: 50px
  }
  .pro-box {
    padding: 25px 0;
  }

  .profile-box {
    display: inline-block;
  }

  .category {
    margin-left: 120px;
    margin-top: 60px;

  }

  .category h2 {
    font-size: 50px;
    padding-bottom: 15px;
  }

  .category span {
    font-size: 25px;
    padding-right: 50px;
  }


</style>
