<div class="container">
	<div class="row">
		<h1 class="text-center">FOLLOWER</h1>
		<div class="header clearfix">
			<% if current_user == @user.id %>
			  <p><%= link_to "戻る",user_path(current_user.id) %></p>
			<% else %>
			  <p><%= link_to "戻る", user_path(@user.id) %></p>
			<% end %>
		</div>
		<% @users.each do |user| %>
	  <hr>
	  	<div class="pro-file-box clearfix">
	  		<table>
					<thead>
						<tr>
							<th><%= attachment_image_tag user, :profile_image, :fill, 150, 150, format: 'jepeg', class: "img-circle" %></th><td><%= link_to user.user_name, user_path(user.id) %></td>
							  <span><% if current_user != user %>
									  <% if user.followed_by?(current_user) %>
									    <%=link_to "フォロー済み", user_relationships_path(user.id), class: "btn btn-success" , method: :delete %>
									  <% else %>
									    <%=link_to "フォローする", user_relationships_path(user.id), class: "btn btn-success", method: :post %>
									  <% end %>
									<% end %>
							  </span>
						</tr>
					</thead>
				</table>
			</div>
		<% end %>
	</div>
<div>

	<style>

		 .header p {
		 	font-size: 20px;
		  float: right;
		  margin-right: 200px;
		 }

		.pro-file-box {
			width: 50%;
			margin:30px auto;
		}

		.pro-file-box td {
			font-size: 20px;
			padding-left: 50px;
		}
		.pro-file-box span {
			float: right;
			margin-top: 60px;
		}
	</style>