<div class="container">
  <div class="row">
    <h1 class="text-center">Mate</h1>
  	<div class="header clearfix">
      <p><%= link_to "戻る", admins_users_path %></p>
    </div>
    <div class="profile-name text-center clearfix">
      <h2><%= @user.user_name %></h2>
    </div>
  	 <div class="profile-image">
      <%= attachment_image_tag @user, :profile_image, :fill, 500, 500, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg" %>
     </div>

	        <div class="pro-box clearfix">
	          <span>職業</span>
	          <span><%= @user.profession %></span>
	        </div>

	        <div class="pro-box">
	          <span>年齢</span>
	          <span><%= @user.user_age %></span>
	        </div>

          <div class="pro-email">
            <span>メールアドレス</span>
            <span><%= @user.email %></span>
          </div>

          <div class="pro-box">
            <span>住所</span>
            <span><%= @user.address %></span>
          </div>

      <div class="category-box clearfix">
       <div class="pro-comment">
      	<h2>自己紹介文</h2>
      	<span><%= @user.profile_comment %></span>
       </div>
      </div>
      <hr>

      <div class="clearfix">
      	<% @posts.each do |post| %>
	        <div class="post-box">
            <%= link_to admins_post_path(post.id) do %>
	             <span><%= attachment_image_tag post, :post_image ,:fill, 380, 380, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg" %></span>
            <% end %>
	        </div>
        <% end %>
      </div>
      <h3 class="text-center"><%= link_to "削除", admins_user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-danger btn-block ",:style=> "font-size: 30px;" %></h3>
  </div>
</div>
<style>
 .header {
    border-bottom: 0.5px solid #EEEEEE;
 }

 .header p {
   float: right;
   margin-right: 200px;
 }

 .profile-name {
    margin-bottom: 40px;
    font-size: 90px;
 }

  .profile-image {
    width: 43%;
    margin:0 auto;
  }

  .pro-box {
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: 0.5px solid #EEEEEE;
  }

  .pro-box span {
    margin-left: 330px;
    font-size: 50px;
    display: inline-block;
  }

  .pro-email {
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: 0.5px solid #EEEEEE;
  }


  .pro-email span {
    margin-left: 180px;
    font-size: 50px;
    display: inline-block;
  }

  .category-box {
    margin-left: 90px;
    display: inline-block;
  }

  .category-box h2 {
    font-size: 50px;
    margin-top: 30px;
    padding-bottom : 25px;
  }

  .category-box span {
    font-size: 40px;
    padding-right: 100px;
  }

  .pro-comment {
    margin-top: 90px;
  }

  .pro-comment span {
    padding-right: 100px;
  }

 .post-box span {
    float:left;
 }



</style>