<div class="container">
	<div class="row">
		<h1 class="text-center">Mate</h1>
		<div class="header clearfix">
      <p><%= link_to "戻る", admins_posts_path,:style=>"text-decoration:none; font-size: 20px;"%></p>
    </div>
		<div class="post-user clearfix">
  		<%= attachment_image_tag @post.user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  		<p><%= @post.user.user_name %></p>
		</div>

		<div class="post-img clearfix">
			<p><%= attachment_image_tag @post, :post_image, :fill, 800, 400, format: 'jpeg', class: "img-thumbnail profile-img ", fallback: "no_image.jpg" %></p>
		</div>

		<div class="hastag">
			<%= @post.hashtag_name %>
		</div>

		<div class="post-comment">
			<%= @post.comment %>
		</div>
			<div class="post-kil">
        <p><%= link_to "削除", admins_post_path(@post.id) ,method: :delete, class: "btn btn-default",:style=> "font-size: 30px;" %></p>
			</div>
	</div>
</div>

<style>
	.header {
    border-bottom: 0.5px solid #EEEEEE;
  }

  .header p {
    float: right;
    margin-right: 200px;
  }

  .hastag {
  	font-size: 25px;
  	padding-top: 30px;
  	border-bottom: 0.5px solid #EEEEEE;
  }

  .post-comment {
  	font-size: 25px;
  	padding-top: 10px;
  	margin-bottom: 30px;
  	border-bottom: 0.5px solid #EEEEEE;
  }

  .post-kil p {
  	text-align: center;
  	margin-top: 30px;
  }

  .post-img p {
  	width: 70%;
  	margin: 20px auto;
  }

  .post-user p {
  	font-size: 25px;
  	padding-left: 130px;
    padding-top: 25px;
  }

</style>