<div class="container">
	<div class="row">
		<h1 class="text-center">Mate</h1>
		<div class="header clearfix">
			<%= link_to "TOP", tops_path %>
		</div>
		<div>
				<% @posts.each do |post| %>
					<div class="content clearfix">
						<div class="post-profile">
							<%= link_to user_path(post.user.id) do %>
								<%= attachment_image_tag post.user, :profile_image , :fill, 100, 100, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg"%>
							<% end %>
						</div>
						<div class="post-name">
							<%= post.user.user_name %>
						</div>
						<div>
							<%= post.hashtag_name %>
						</div>
						<div>
							<%= post.comment %>
						</div>
						<div class="like-box">
							<% if post.liked_by?(current_user) %>
						  <li>
						    <%= link_to post_likes_path(post), method: :delete do %>
						      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						      <%= post.likes.count %> いいね
						    <% end %>
						  </li>
						<% else %>
						  <li>
						    <%= link_to post_likes_path(post), method: :post do %>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <%= post.likes.count %> いいね
						    <% end %>
						  </li>
						<% end %>
						</div>
						
						<div class="post-image">
						   <p><%= attachment_image_tag post, :post_image ,:fill, 1150, 450, format: 'jpeg', fallback: "no_image.jpg"%></p>
						</div>
				  </div>
				<% end %>
			</div>
	</div>
</div>

<style>
 	.post-image {
 		width: 100%;
 		margin:0 auto;
 	}
 	.post-profile {
 		position: relative;
 	}

 	.like-box {
 		font-size: 30px;
 		float: right;
 		list-style: none;
 	}

 	.post-name {
 		display: inline;
 		font-size: 30px;
 		float: right;
 	}
</style>

