<!DOCTYPE html>
<html>
  <head>
    <title>Mate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
    </div>
    <%= yield %>
    <footer class="clearfix">
      <h5>2019 Mate</h5>
    </footer>
  </body>
</html>

