<!DOCTYPE html>
<html>
  <head>
    <title>Mate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="page-footer">
      <div class="list-group-item">
        <div class="container-fluid">
          <h5 class="text-center">2019 Mate</h5>
        </div>
      </div>
    </footer>
  </body>
</html>

